{
  "printWidth": 100,
  "tabWidth": 4,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "tabWidth": 2,
        "printWidth": 120
      }
    }
  ]
}
